@model TravelSystem.Shared.Models.User

<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Thêm người dùng mới</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addUserForm" asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Tên đăng nhập</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FullName" class="form-label">Họ và tên</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Mật khẩu</label>
                <input name="password" type="password" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Xác nhận mật khẩu</label>
                <input name="confirmPassword" type="password" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Role" class="form-label">Vai trò</label>
                <select asp-for="Role" class="form-control">
                    <option value="1">Đối tác</option>
                    <option value="0">Quản trị viên</option>
                </select>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="submit" form="addUserForm" class="btn btn-primary-custom">Tạo người dùng</button>
      </div>
    </div>
  </div>
</div>
